.password-strength {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: #333333 url("/assets/input-background.svg");

  app-card-content {
    align-self: center;
  }
}
