.password-strength-indicator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  height: 4px;

  .indicator-strip {
    background: #999999;
  }

  &--empty {
    .indicator-strip {
      background: #999999;
    }
  }

  &--short {
    .indicator-strip {
      background: #8C1229;
    }
  }

  &--easy {
    .indicator-strip:first-child {
      background: #8C1229;
    }
  }

  &--medium {
    .indicator-strip:first-child,
    .indicator-strip:nth-child(2) {
      background: #ffa64b;
    }
  }

  &--strong {
    .indicator-strip {
      background: #46bb19;
    }
  }
}
