.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;

  .label {
    font-size: 16px;
    padding-left: 10px;
    position: absolute;
    top: 16px;
    transition: 0.4s;
    pointer-events: none;
  }

  .input {
    width: 320px;
    height: 48px;
    border: none;
    outline: none;
    padding: 0px 8px;
    border-radius: 16px;
    color: #000000;
    font-size: 15px;
    background-color: transparent;
    transition: 0.2s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);

    &:focus, &:valid {
      border: 2px solid transparent;
      color: #000000;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
      -1px -1px 6px rgba(255, 255, 255, 0.4),
      inset 3px 3px 10px rgba(0, 0, 0, 1),
      inset -1px -1px 6px rgba(255, 255, 255, 0.4);

      & ~ .label {
        transition: 0.3s;
        transform: translateY(-35px) translateX(16px);
      }
    }
  }
}
